details {
  min-inline-size: 0;
}

summary {
  list-style: none;

  &::-webkit-details-marker {
    display: none;
  }

  @at-root details[open] > & {
    margin-inline: var(--margin-small);
    border-bottom: var(--width-border) solid currentColor;
  }
}
