@use 'settings/opacity';

input {
  accent-color: var(--color-accent);
}

input:invalid {
  background-color: var(--color-bg-error);
}

input[type="text"], input:not([type]) {
  min-inline-size: 0;
}

::placeholder {
  color: var(--color-text-placeholder);
  opacity: opacity.$placeholder;
}
