:any-link {
  text-decoration: none;

  &:focus,
  &:hover,
  &:active {
    outline: 0;
    text-decoration: underline;
  }
}

:link {
  color: var(--color-link);
}

:visited {
  color: var(--color-link-visited);
}
