@use 'tools/focus';

// TODO: Assign custom properties to SASS variables, move to settings folder
:root {
  --color-bg: hsl(180, 13%, 16%);
  --color-bg-focus: hsl(180, 13%, 32%);
  --color-bg-inactive: hsl(180, 13%, 8%);
  --color-bg-active: #ddd;
  --color-bg-error: hsl(0, 100%, 90%);
  --color-bg-warning: hsl(30, 100%, 90%);
  --color-text: #ddd;
  --color-text-focus: #ddd;
  --color-text-active: hsl(180, 13%, 16%);
  --color-focus: hsl(180, 100%, 40%);
  --color-selection: hsl(180, 80%, 20%);
  --color-link: hsl(180, 100%, 50%);
  --color-link-visited: orange;
  --color-shadow: black;
  --bg-alt: hsl(180, 13%, 8%);
  --bg-vignette: hsla(0, 0%, 0%, 0.8);
  --margin-small: 0.15rem;
  --margin-medium: 0.5rem;
  --tab-height: 1.5rem;
  --width-border: 2px;
  --stream-aspect-ratio: 16/9;
  font-size: 120%;
}

body {
  margin: 0;
  min-height: 100vh;

  background-color: var(--color-bg);
  color: var(--color-text);
}

legend {
  margin-inline-start: 0.5em;
}

input:invalid {
  background-color: var(--color-bg-error);
}

input[type="text"] {
  min-inline-size: 0;
}

.input-row {
  margin-block: var(--margin-small);

  display: flex;
  flex-wrap: wrap;
}

.input-row > *,
.input-row > .fragment > *,
.players > * {
  flex-grow: 1;
  margin-inline: var(--margin-small);
}

.input-row button {
  display: block;
  flex-basis: 8em;
  inline-size: 100%;
}

.input-row label {
  flex: 0 0 auto;
}

:focus:not(:any-link),
button:focus,
[type="button"]:focus,
[type="reset"]:focus,
[type="submit"]:focus {
  /* Overrides normalize.css Firefox styles */
  @include focus.focus-outline;
}

::selection {
  background: var(--color-selection);
  color: white;
}

.warning {
  background: var(--color-bg-warning);
}

.sr-only {
  position: absolute;
  top: auto;
  left: -10000px;
}
