build/
databases/
node_modules/
web/public/*.css
web/public/*.css.map
web/public/*.js
web/public/*.js.map
*.tsbuildinfo
detocs-config.json
detocs-credentials.json
TWITTER_API_KEY
TWITTER_API_KEY_SECRET
