@use 'settings/flex';

.input-row, .action-row {
  margin-block: var(--margin-small);

  display: flex;
  flex-flow: row wrap;
  align-items: center;

  > * {
    margin-inline: var(--margin-small);
    margin-block: var(--margin-small);
  }
}

.input-row {
  > * {
    flex-grow: 1;
  }

  > input:not([type]),
  input[type="text"],
  input[type="email"],
  input[type="range"],
  input[type="search"],
  input[type="url"],
  select,
  textarea,
  meter,
  fieldset,
  .textInput,
  div {
    flex-grow: flex.$hackGrow;
  }
}

fieldset > .input-row {
  margin-top: calc(var(--margin-small) * -1);
}

details > .input-row {
  margin-block: 0;
}

.action-row {
  > * {
    flex: 1 0 8em;
  }
}

.action-row {
  > button,
  > select {
    overflow: hidden;

    text-align: center;
    text-overflow: ellipsis;
  }
}

.input-block {
  margin-block: var(--margin-small);
  margin-inline: var(--margin-medium);
}
