.input-row, .action-row {
  margin-block: var(--margin-small);

  display: flex;
  flex-flow: row wrap;
  align-items: center;

  > * {
    margin-inline: var(--margin-small);
    margin-block: calc(var(--margin-small) / 2);
  }
}

.input-row {
  > * {
    flex-grow: 1;
  }

  > input:not([type]),
  input[type="text"],
  input[type="email"],
  input[type="range"],
  input[type="search"],
  input[type="url"],
  select,
  textarea,
  meter,
  fieldset,
  .textInput,
  div {
    flex-grow: 9999; // https://joren.co/flex-grow-9999-hack/
  }
}

fieldset > .input-row {
  margin-top: 0;
}

details > .input-row {
  margin-block: 0;
}

.action-row > button {
  flex: 1 0 8em;
}
