@use 'tools/fill';
@use 'tools/focus';

.clip-selector__list {
  display: flex;
  width: max-content;
  max-width: 100%;

  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: stretch;
  padding: var(--margin-small);
}

.clip-selector__option {
  position: relative;
  display: flex;
  margin: var(--margin-small);

  flex-flow: column nowrap;
  align-items: center;

  background: var(--bg-alt);

  input {
    // Make scrolling during keyboard navigation bring as much of the option
    // into view as possible
    @include fill.fill-parent;

    z-index: -1;
    opacity: 0;
  }

  &:focus-within {
    @include focus.focus-outline;
  }

  &[aria-busy="true"]::before, &[aria-busy="true"]::after {
    pointer-events: none;
  }
}

.clip-selector__option--selected .clip-selector__clip-info .thumbnail {
  @include focus.focus-outline;
}

.clip-selector__clip-info {
  display: flex;
  flex: 1 1 auto;

  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5rem 0;
}

.clip-selector__clip-description {
  max-width: 15rem;
  min-height: 1.5em;

  line-height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
