.thumbnail {
  position: relative;
  inline-size: calc(8rem * (var(--stream-aspect-ratio)));
  block-size: min-content;

  box-sizing: border-box;

  background: black;
  border: var(--width-border) solid currentColor;
}

.thumbnail__media {
  display: block;
  inline-size: 100%;
}

.thumbnail__placeholder {
  inline-size: 100%;

  padding-block-end: calc(100% / (var(--stream-aspect-ratio)));

  background-image: url(/images/thumbnail-placeholder.svg);
  background-position: center;
  background-size: cover;
}

.thumbnail__metadata {
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 0.2em;

  background-color: rgba(black, 0.6);
  color: white;
  font-size: 0.75rem;
}
