.twitter__editor {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.twitter__editor header {
  display: flex;
  justify-content: space-between;
}

.twitter__tweet-content {
  display: flex;
  flex-grow: 1;
  margin-block: var(--margin-small);

  flex-flow: row wrap;
}

.twitter__tweet-content > * {
  margin-inline: var(--margin-small);
}

.twitter__tweet-body {
  display: flex;
  flex: 4 1 15rem;
  flex-flow: column nowrap;
}

.twitter__tweet-text {
  flex: 1 1 auto;
  min-height: 6em;
}

.twitter__tweet-controls {
  margin-block: var(--margin-small);
  display: flex;
  flex-flow: row wrap;

  > * {
    margin-inline: var(--margin-small);
  }

  > meter {
    flex: 1 1 auto;
  }

  > button {
    flex: 0.2 0 auto;
  }
}

.twitter__tweet-media {
  display: flex;
  flex: 1 1 10rem;

  flex-flow: column wrap;
  justify-content: flex-start;
}

.twitter__tweet-media > .thumbnail {
  width: max(12rem, min(100%, calc(var(--stream-aspect-ratio) * (100vh - 7rem))));
  align-self: center;
}

.twitter__tweet-media-actions.twitter__tweet-media-actions > * {
  inline-size: auto;
  flex-basis: auto;
}
