:root {
  --color-bg: hsl(180, 13%, 16%);
  --color-bg-focus: hsl(180, 13%, 32%);
  --color-bg-inactive: hsl(180, 13%, 8%);
  --color-bg-active: #ddd;
  --color-text: #ddd;
  --color-text-focus: #ddd;
  --color-text-active: hsl(180, 13%, 16%);
  --color-focus: hsl(180, 100%, 40%);
  --color-selection: hsl(180, 80%, 20%);
  --tab-height: 1.5rem;
  --width-border: 2px;
  --stream-aspect-ratio: 16/9;
  font-size: 120%;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

fieldset {
  margin-inline: 0;
  min-inline-size: 0;

  padding: 0;
}

legend {
  margin-inline-start: 0.5em;
}

input[type="text"] {
  min-inline-size: 0;
}

.input-row {
  margin-block: 0.15em;

  display: flex;
  flex-wrap: wrap;
}

.input-row > *,
.input-row > .fragment > *,
.players > * {
  flex-grow: 1;
  margin-inline: 0.15em;
}

.input-row button {
  display: block;
  flex-basis: 8em;
  inline-size: 100%;
}

.input-row label {
  flex: 0 0 auto;
}

.players {
  display: grid;
  grid-template-columns: auto auto;
}

.player {
  min-inline-size: 0;
}

.player:nth-child(2n) .score {
  order: 1;
}

.competitor {
  flex: 1 1 auto;
}

input:focus {
  outline: 0.2rem solid var(--color-focus);
}

::selection {
  background: var(--color-selection);
  color: white;
}

.prefix {
  flex: 1 1 auto;
  inline-size: 5em;
}

.handle {
  flex: 5 1 auto;
}

.score {
  flex: 0 0 auto;
  margin-top: 0.3em;
  inline-size: 2em;

  font-size: 2em;
  text-align: center;
}

.comment {
  inline-size: 6em;
}

.fragment {
  display: contents;
}

#version {
  position: fixed;
  bottom: 0;
  right: 0;

  font-size: 0.75rem;
  pointer-events: none;
}
