:root {
  --color-bg: hsl(180, 13%, 16%);
  --color-text: #ddd;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: 120%;
}

.input-row {
  display: flex;
}

.input-row > * {
  flex-grow: 1;
}

.players {
  display: grid;
  grid-template-columns: auto auto;
}

.player:nth-child(2n+1) > .input-row {
  flex-direction: row;
}

.player:nth-child(2n) > .input-row {
  flex-direction: row-reverse;
}

.competitor {
  flex: 1 1 auto;
}

input[type="text"] + input[type="text"] {
  margin-left: 0.5em;
}

.competitor .prefix {
  flex: 1 1 auto;
  width: 5em;
}

.competitor .handle {
  flex: 5 1 auto;
}

.score {
  flex: 0 0 auto;
  width: 2em;

  font-size: 2em;
  text-align: center;
}

.scoreboard button {
  display: block;
  width: 100%;
}
