// TODO: Assign custom properties to SASS variables
:root {
  --color-bg: hsl(180, 13%, 16%);
  --color-bg-focus: hsl(180, 13%, 32%);
  --color-bg-input: white;
  --color-bg-inactive: hsl(180, 13%, 8%);
  --color-bg-active: #ddd;
  --color-bg-error: hsl(0, 100%, 90%);
  --color-bg-warning: hsl(30, 100%, 90%);
  --color-bg-control: rgb(240, 240, 240); // Match browser default
  --color-bg-control-active: hsl(180, 100%, 15%);
  --color-border-control: rgb(120, 120, 120); // Match browser default
  --color-border-control-active: hsl(180, 100%, 15%);
  --color-text: #ddd;
  --color-text-focus: #ddd;
  --color-text-inverted: black;
  --color-text-input: black;
  --color-text-placeholder: #444;
  --color-text-active: hsl(180, 13%, 8%);
  --color-focus: hsl(180, 100%, 40%);
  --color-selection: hsl(180, 80%, 20%);
  --color-link: hsl(180, 100%, 50%);
  --color-link-visited: orange;
  --color-shadow: black;
  --bg-area: hsl(180, 13%, 8%);
  --bg-vignette: hsla(0, 0%, 0%, 0.8);
  --margin-small: 0.15rem;
  --margin-medium: 0.5rem;
  --tab-height: 1.5rem;
  --width-border: 2px;
  --stream-aspect-ratio: 16/9;
}
