@use 'tools/fill';

$metadata-padding: 0.5em;
$min-editor-height: 12rem;
$video-track-height: 3rem;
$range-thumb-width: 0.2rem;
$range-brace-width: 0.6rem;
$cursor-width: 2px;

#clips {
  overflow: hidden;
}

.clips {
  @include fill.fill-parent;

  display: flex;
  flex-flow: column nowrap;
  overflow: auto;
}

.clips__actions {
  display: flex;
  flex: 0 0 auto;
  margin-block: var(--margin-small);

  flex-flow: row wrap;
}

.clips__actions > * {
  flex-basis: auto;
}

.clips__clip-selector {
  flex: 0 0 auto;
  margin-bottom: calc(2 * var(--margin-small));

  background: var(--bg-area);

  .clip-selector__list {
    /* TODO: Make vertical on tall viewports? */
    width: auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: auto;
  }

  .thumbnail {
    width: 7rem;
  }
}

.image-viewer, .video-editor {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row wrap;
}

.image-viewer {
  min-height: $min-editor-height;

  .clips__metadata {
    align-self: center;
  }
}

.image-viewer__image {
  position: relative;
  flex: 1 1 10rem;
  min-height: $min-editor-height / 2;

  img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    /* doiuse-disable object-fit */
    object-fit: contain;
    /* doiuse-enable object-fit */
  }
}

.video-editor__trimmer {
  display: flex;
  flex: 5 1 calc(#{$min-editor-height - $video-track-height} * var(--stream-aspect-ratio));

  flex-flow: column nowrap;
  align-content: center;
  isolation: isolate;
}

.video-editor__video {
  flex: 1 0 auto;
  height: $min-editor-height - $video-track-height;
  width: 100%;
  z-index: 1;

  background: black;
}

.video-editor__controls {
  display: flex;

  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--margin-medium);
  padding: var(--margin-small) var(--margin-medium);

  background: black;
  color: white;
  font-variant-numeric: tabular-nums;
  font-family: var(--font-monospace);

  button {
    background: transparent;
    border: none;
    color: inherit;
  }
}

.video-editor__control-group {
  display: flex;

  flex-flow: row nowrap;
  align-items: center;
  gap: var(--margin-medium);
}

.video-editor__control-subgroup {
  display: flex;

  flex-flow: row nowrap;
  align-items: center;
  gap: 0;
}

.video-editor__control-milliseconds {
  font-size: 0.75em;
}

.video-editor__control-range {
  flex: 0 1 auto;
  width: 10em;
  box-sizing: border-box;

  outline-offset: -0.2em;
}

.video-editor__range {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  height: $video-track-height;

  flex-flow: column nowrap;

  overflow-x: hidden;
}

.video-editor__waveform {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;

  background: black;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  /* doiuse-disable object-fit */
  object-fit: fill;
  /* doiuse-enable object-fit */
}

.video-editor__progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;

  background: transparent;
  border: none;
  appearance: none;
}

.video-editor__progress::-webkit-progress-value {
  background-color: var(--color-selection);
  opacity: 0.4;
}

.video-editor__progress::-moz-progress-bar {
  background-color: var(--color-selection);
  opacity: 0.4;
}

.video-editor__progress::-webkit-progress-bar {
  background-color: transparent;
}

.video-editor__range-outline {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;

  border: 0.1rem solid var(--color-focus);
}

.video-editor__range-bound, .video-editor__playback-cursor {
  flex: 1 1 auto;
  min-height: 0;

  appearance: none;
  background: transparent;

  &::range-thumb {
    border-color: var(--color-focus);
  }

  &:focus {
    outline: 0;

    &::range-thumb {
      border-color: orange;
    }
  }

  &::range-track {
    height: 100%;
  }
}

.video-editor__range-bound {
  width: calc(var(--range-width) + #{$range-brace-width});
  cursor: ew-resize;

  &::range-thumb {
    width: $range-brace-width;
    height: 100%;
    box-sizing: border-box;

    appearance: none;
    background: transparent;
    border-style: ridge;
    border-width: $range-thumb-width;
    border-radius: 0;

    @at-root .video-editor__range-start#{&} {
      border-right-color: transparent;
      border-right-style: solid;
      border-bottom-width: 0;
    }

    @at-root .video-editor__range-end#{&} {
      border-left-color: transparent;
      border-left-style: solid;
      border-top-width: 0;
    }
  }
}

.video-editor__range-start {
  align-self: flex-start;
}

.video-editor__range-end {
  align-self: flex-end;
}

.video-editor__playback-cursor {
  width: 100%;
  cursor: crosshair;

  &::range-thumb {
    width: 0;
    height: 100%;
    box-sizing: content-box;

    appearance: none;
    border-left-style: solid;
    border-left-width: $cursor-width;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0;
  }
}

.video-editor__buttons {
  display: flex;
  flex: 1 0 13em;

  flex-flow: column nowrap;
  overflow: hidden; // input-row seems to be causing overflow
  padding: 0 var(--margin-medium);
}

.video-editor__description {
  display: flex;
  flex: 1 0 auto;

  flex-flow: column nowrap;
}

.video-editor__description-editor {
  flex: 1 0 auto;
  width: 100%;

  box-sizing: border-box;

  resize: vertical;
}
