@use 'tools/fill';

$metadata-padding: 0.5em;
$min-editor-height: 12rem;
$video-track-height: 3rem;

#clips {
  overflow: hidden;
}

.clips {
  @include fill.fill-parent;

  display: flex;
  flex-flow: column nowrap;
  overflow: auto;
}

.clips__actions {
  display: flex;
  flex: 0 0 auto;
  margin-block: var(--margin-small);

  flex-flow: row wrap;
}

.clips__actions > * {
  flex-grow: 1;
  margin-inline: var(--margin-small);
}

.clips__clip-selector {
  flex: 0 0 auto;

  .clip-selector__list {
    /* TODO: Make vertical on tall viewports */
    width: auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: auto;
  }

  .thumbnail {
    width: 7rem;
  }
}

.image-viewer, .video-editor {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row wrap;
}

.image-viewer {
  min-height: $min-editor-height;

  .clips__metadata {
    align-self: center;
  }
}

.clips__metadata {
  margin-inline: $metadata-padding;
}

.image-viewer__image {
  position: relative;
  flex: 1 1 10rem;
  min-height: $min-editor-height / 2;

  img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    object-fit: contain;
  }
}

.video-editor__trimmer {
  display: flex;
  flex: 5 1 calc(#{$min-editor-height - $video-track-height} / var(--stream-aspect-ratio));

  flex-flow: column nowrap;
  align-content: center;
}

.video-editor__video {
  flex: 1 0 auto;
  height: $min-editor-height - $video-track-height;
}

.video-editor__range {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  height: $video-track-height;

  flex-flow: column nowrap;
}

.video-editor__waveform {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;

  background: black;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  object-fit: fill;
}

.video-editor__progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;

  background: transparent;
  border: none;
  appearance: none;
}

.video-editor__progress::-webkit-progress-value {
  background-color: var(--color-selection);
  opacity: 0.4;
}

.video-editor__progress::-moz-progress-bar {
  background-color: var(--color-selection);
  opacity: 0.4;
}

.video-editor__progress::-webkit-progress-bar {
  background-color: transparent;
}

.video-editor__range-outline {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;

  border: 0.1rem solid var(--color-focus);
}

.video-editor__range-bound {
  --thumb-width: 0.4rem;
  flex: 1 1 auto;
  width: calc(var(--range-width) + var(--thumb-width));

  appearance: none;
  background: transparent;
}

.video-editor__range-bound:focus {
  outline: none;
}

.video-editor__range-bound::-moz-focus-inner {
  border: 0;
}

.video-editor__range-bound::range-track {
  height: 100%;
}

.video-editor__range-bound::range-thumb {
  width: var(--thumb-width);
  height: 100%;
  box-sizing: border-box;

  appearance: none;
  background: transparent;
  border: 0.2rem ridge orange;
  border-radius: 0;

  @at-root :focus#{&} {
    background: var(--color-focus);
    outline: 0.1rem solid var(--color-focus);
  }

  @at-root .video-editor__range-start#{&} {
    border-right-color: transparent;
    border-bottom-width: 0;
  }

  @at-root .video-editor__range-end#{&} {
    border-left-color: transparent;
    border-top-width: 0;
  }
}

.video-editor__range-start {
  align-self: flex-start;
}

.video-editor__range-end {
  align-self: flex-end;
}

.video-editor__buttons {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;
  overflow: hidden; // input-row seems to be causing overflow
}

.video-editor__description {
  display: flex;
  flex: 1 0 auto;

  flex-flow: column nowrap;

  text-indent: $metadata-padding;
}

.video-editor__description-editor {
  flex: 1 0 auto;
  width: 100%;

  box-sizing: border-box;

  resize: vertical;
}

.video-editor__buttons button {
  flex: 0 0 auto;
}
