.menu__container {
  position: relative;
  display: inline-block;
}

// Override details styles
details[open] > summary.menu__trigger {
  margin: 0;
  border: none;
}

.menu__popover {
  position: absolute;
  top: 100%;
  right: 0;
  width: max-content;
  z-index: 1;
  margin: var(--margin-small) 0;

  display: flex;
  flex-flow: column nowrap;
  gap: var(--margin-small);
  padding: 0;

  list-style-type: none;
  background: var(--color-bg);
  box-shadow: 0 0 0.5rem var(--color-shadow);
  border-radius: 4px;

  > li {
    display: flex;
    flex-flow: column nowrap;
  }
}
