.menu__button-group {
  display: inline-flex;
  flex-flow: row nowrap;
}

.menu__default-action {
  margin-inline-end: calc(-1 * var(--width-border));
  flex-grow: 1;

  padding-inline-end: 0.35em;

  border-start-end-radius: 0;
  border-end-end-radius: 0;

  + .menu__trigger-container > button {
    flex-grow: 0;

    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }
}

.menu__trigger-container {
  display: contents;

  > button {
    flex-grow: 1;
  }
}

.menu__popover {
  z-index: 1;
  max-height: calc(100vh - 3rem);

  overflow: hidden auto;
  padding: 4px;

  background: var(--bg-area);
  box-shadow: 0 0 0.5rem var(--color-shadow);
  border-radius: var(--width-border-radius);
}

.menu__list, .menu__group-inner {
  min-width: max-content;
  box-sizing: content-box;

  display: flex;
  flex-flow: column nowrap;
  gap: var(--margin-small);
  padding: 0;
}

.menu__group {
  padding: var(--margin-small);
}

.menu__group-inner {
  width: 100%;
  box-sizing: border-box;
}
