@use 'tools/focus';

.modal__wrapper {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: var(--bg-vignette);
}

.modal__body {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: calc(100% - 1rem);
  max-height: calc(100% - 1rem);
  transform: translate(-50%, -50%);
  box-sizing: border-box;

  display: flex;
  flex-flow: column nowrap;
  padding-top: 1rem;

  background: var(--color-bg);
  box-shadow: 0 0 0.5rem var(--color-shadow);

  @supports not (width: max-content) {
    min-width: calc(80%);
    min-height: calc(80%);
  }
}

.modal__close-button {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);

  display: flex;
  padding: 0;

  border: none;
  border-radius: 50%;
  font-size: 1.5rem;

  &:focus {
    @include focus.focus-border;
    outline: none;
  }

  > .icon {
    margin: 0;
  }
}

.modal__scroll-box {
  overflow-y: auto;
}

.modal__content {
  padding: 0 1rem 1rem;
}
