.recording__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.recording__list-item {
  margin-top: 1rem;
}

.recording__block {
  padding: 0.15rem;
}

.recording__editor {
  display: flex;
  flex-flow: row wrap;
}

.recording__boundary {
  flex: 1 1 auto;

  > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }
}

.recording__boundary .thumbnail {
  width: 240px;
  height: 135px;
  flex: 0 1 auto;
}

.recording__controls {
  display: flex;
  flex: 1 0 0;
  margin-inline: var(--margin-small);

  flex-flow: row wrap;
}

.recording__controls > * {
  flex: 1 0 50%;
}

.recording__file {
  width: 100%;

  box-sizing: border-box;
  direction: rtl;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.recording__tab-label--recording {
  color: red;
}

.recording__tab-label--recording::after {
  vertical-align: top;
  content: '🔴';
  font-size: 0.4em;
}
