@use 'settings/flex';

.players {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.player, .commentator {
  min-inline-size: 0;
  margin-inline: var(--margin-small);
}

.player:nth-child(2n) .score {
  // TODO: Make scores symmetric
  order: 1;
}

.competitor {
  flex: 1 1 auto;
}

.handle, .handleOrAlias, .alias {
  flex-grow: 2 * flex.$hackGrow;
  inline-size: 9em;
}

.prefix {
  inline-size: 4em;
}

.twitter {
  inline-size: 7em;
}

.comment {
  inline-size: 5em;
}

.score {
  margin-top: 0.55ex; // Account for fieldset siblings
  inline-size: 2em;

  font-size: 2em;
  text-align: center;
}

fieldset[name="match"] {
  flex: 2 1 6em;
}

fieldset[name="game"] {
  flex: 5 1 9em;
}

fieldset[name="bracketSet"] {
  flex: 10 1 15em;
}
