.tab-controller {
  display: flex;
  overflow-x: auto;
  padding: 0 1em;

  background-color: var(--color-bg-inactive);
}

.tabbable-section {
  display: inline-flex;
  flex-shrink: 0;
}

.tabbable-section__tab {
  height: var(--tab-height);
  flex-shrink: 0;
  margin: 0;
  margin-inline-end: calc(-1 * var(--width-border));

  box-sizing: border-box;

  background-color: var(--color-bg);
  border: var(--width-border) solid currentColor;
  border-bottom-width: 0;
  font-size: 1rem;
  font-weight: normal;
  user-select: none;
}

.tabbable-section__tab label {
  display: block;

  line-height: calc(var(--tab-height) - var(--width-border));
  padding: 0 1em;
}

.tabbable-section__control:checked ~ .tabbable-section__tab {
  z-index: 1;

  color: var(--color-text-active);
  background-color: var(--color-bg-active);
  border-color: var(--color-bg-active);
}

.tabbable-section__control:focus:focus ~ .tabbable-section__tab {
  border-color: var(--color-focus);
} 

.tabbable-section__content {
  position: fixed;
  top: var(--tab-height);
  left: 0;
  right: 0;
  bottom: 0;

  overflow: auto;

  background-color: var(--color-bg);
  border-top: var(--width-border) solid currentColor;
}

.tabbable-section__control:not(:checked) ~ .tabbable-section__content {
  display: none;
} 
