$thumbnailMinWidth: 12rem;

.twitter__editor {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

  > header {
    margin-block: var(--margin-small);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  > fieldset {
    display: contents;
  }
}

.twitter__tweet-content {
  display: flex;
  flex-grow: 1;
  padding-block: var(--margin-small);

  flex-flow: row wrap;

  > * {
    margin-inline: var(--margin-small);
  }
}

.twitter__tweet-body {
  display: flex;
  flex: 4 1 $thumbnailMinWidth * 1.5;
  flex-flow: column nowrap;
}

.twitter__tweet-text {
  flex: 1 1 auto;
  min-height: 6em;
}

.twitter__tweet-media {
  display: flex;
  flex: 1 1 $thumbnailMinWidth;

  flex-flow: column wrap;
  justify-content: flex-start;
}

.twitter__tweet-media-preview {
  display: contents;
}

.twitter__tweet-media .thumbnail {
  width: max(#{$thumbnailMinWidth}, min(100%, calc(var(--stream-aspect-ratio) * (100vh - 7rem))));
  align-self: center;
}

.twitter__tweet-media-actions.twitter__tweet-media-actions > * {
  inline-size: auto;
  flex-basis: auto;
}

.twitter__tweet-controls.twitter__tweet-controls button {
  flex-basis: auto;
}
